
<!doctype html>
<html lang="en">
    {% load static %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sign page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  </head>
  <body>
    

<head>
    <title>Gamer Singup</title>
    
    <style>
        .container {
            display: flex;
            justify-content: center; /* Center horizontally */
            align-items: center; /* Center vertically */
            height: 100vh; /* Adjust as needed to control the centering height */
        }
        *{
            color: white
        }


        


        img{
            width: 50;
            margin-bottom: 20px;
        }
    </style>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
   
    <link rel="shortcut icon" href=" {% static 'assets/img/logo.png' %} ">

    
    

</head>
<body>

<div class="container bg-dark p-5  rounded  mt-5 w-50">
<div class="login-wrapper">
<div class="container">
<div class="loginbox">
<!-- <div class="login-left">
<img class="img-fluid" src=" {% static 'assets/img/logo-white.png' %}" alt="Logo">
</div> -->
<div class="login-right">
<div class="login-right-wrap">
<h1>Register</h1>
<p class="account-subtitle">Access to our dashboard</p>

{% if messages %}
<div class="alert alert-danger" role="alert">
      <ul>
         {% for message in messages %}
               <li>{{ message }}</li>
         {% endfor %}
      </ul>
</div>
{% endif %}

<img class="w-25 ml-5" src="{% static 'assests/img/smalllogo.png' %}" alt="">

<form action="" method="post">
    {% csrf_token %}
<div class="form-group">
<input class="form-control" type="text" placeholder="Name" name="name">
</div>
<br>
<div class="form-group">
<input class="form-control" type="text" placeholder="Email" name="email">
</div>
<br>
<div class="form-group">
<input class="form-control" type="text" placeholder="Password" name="password">
</div>
<br>
<div class="form-group">
<input class="form-control" type="text" placeholder="Confirm Password" name="confirmpassword">
</div>
 <br>
<div class="form-group mb-0">
<button class="btn btn-primary btn-block" type="submit">Register</button>
</div>
</form>

<div class="text-center text-white">Already have an account? <a href=" {% url 'loginPage' %} ">Login</a></div>
</div>
</div>
</div>
</div>
</div>
</div>

</body>
</html>